<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Add Recipe</h2>
            <form class="form-group" >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <div>
                        <h3>Ingredients</h3>
                    </div>
                    <div class="form-group">
                        <label for="ingredientName">Ingredient</label>
                        <input type="text" class="form-control" id="ingredientName" #ingredientName/>
                    </div>
                    <div class="form-group">
                        <label for="ingredientAmount">Amount</label>
                        <input type="text" class="form-control" id="ingredientAmount" #ingredientAmount />
                    </div>
                     <button class="btn btn-success" (click)="addIngredient(ingredientName.value, ingredientAmount.value); ingredientName.value=''; ingredientAmount.value=''">Add</button>
                </div>
                <div class="form-group">
                    <div>
                        <h3>Instructions</h3>
                    </div>
                    <div class="form-group">
                        <label for="instruction">Instruction</label>
                        <input type="text" class="form-control" id="instruction" #instruction />
                    </div>
                    <button class="btn btn-success" (click)="addInstruction(instruction.value); instruction.value=''">Add</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <section>
                <h5>Ingredients</h5>
                <ul *ngFor="let i of ingredients">
                    <li>{{i.name}}, {{i.amount}}</li>
                </ul>
            </section>
            <section>
                <h5>Instructions</h5>
                <ul *ngFor="let i of instructions">
                    <li>{{i.instruction}}</li>
                </ul>
            </section>
        </div>
    </div>
</div>
